
<form name="reviewForm" ng-submit="reviewForm.$valid && submitReview(reviewItem)" ng-show="showReviewForm"
novalidate>

    <span class="error" ng-show="reviewForm.reviewInput.$invalid && reviewForm.$submitted">Please complete review before submitting</span>

    Stars:
    <rating ng-model="reviewItem.stars" 
        on-hover="hoveringOver(value)" 
        on-leave="overStar = null"></rating>

    <span class="label" ng-class="{'label-warning': reviewItem.stars < 3, 'label-info': reviewItem.stars == 3, 'label-success': reviewItem.stars >= 5}" ng-show="overStar && !isReadonly">{{starDescription}}%</span>

    Describe your experience with these shades: <input class='' name='reviewInput' required type="text" ng-model="reviewItem.review" />

    <br /><button>Submit Review</button> 

</form>

<button ng-click="showReviewForm = !showReviewForm">Submit Review</button>

