<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">

          <!-- Add a Logo here, instead of full-stack -->
        </div>
        
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" 
                ng-show="!item.admin || isAdmin()">
                <a  ui-sref-active="active" 
                    ui-sref="{{ item.state }}">
                    {{ item.label }}
                </a>
            </li>
        </ul>
        
        <button ng-show="!user" 
                ui-sref="login" 
                class="btn login-button">
                Login
        </button>

        <button ng-show="!user" 
                ui-sref="signup" 
                class="btn login-button">
                Sign up
        </button>

        <form name='Search' class='search'>
            <input type="text" ng-model="criteriaObject.title" class="search-bar" placeholder="search">

            <button type="submit" class="btn search-button" ng-click="search(criteriaObject)">Search</button>
        </form>

        <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.email }}! </span>
            <button type="submit" ng-click="logout()" class="btn login-button">Logout</button>
        </div>
    </div>
</nav>
