<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">

          <!-- Add a Logo here, instead of full-stack -->
        </div>
        
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" 
                ng-show="!item.auth || isLoggedIn()">
                <a  ui-sref-active="active" 
                    ui-sref="{{ item.state }}">
                    {{ item.label }}
                </a>
            </li>
            <li ng-repeat="item in adminItems" 
                ng-show="!item.admin || isAdmin()">
                <a  ui-sref-active="active" 
                    ui-sref="{{ item.state }}">
                    {{ item.label }}
                </a>
            </li>
        </ul>
        
        <button ng-show="!user" 
                ui-sref="login" 
                class="btn login-button">
                Login
        </button>

        <button ng-show="!user" 
                ui-sref="signup" 
                class="btn login-button">
                Sign up
        </button>

        <form name='Search' class='search'>
            <input type="search" ng-model="navSearchString"placeholder="Search">
            <input type="submit" ng-click="search()"style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
        </form>

        <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.email }}! </span>
            <button type="submit" ng-click="logout()" class="btn login-button">Logout</button>
        </div>
    </div>
</nav>
