<div class="modal-content">
	<br>
	<form ng-submit="saveProduct()" class="form-horizontal">
	  
	  <div class="form-group">
	    <label class="col-sm-2 control-label">Title</label>
	    <div class="col-sm-9">
	      <input type="text" class="form-control" ng-model="productItem.title">
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label">Description</label>
	    <div class="col-sm-9">
	      <input type="text" class="form-control" ng-model="productItem.description">
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label">Image</label>
	    <div class="col-sm-9">
	      <input type="text" class="form-control" ng-model="productItem.imageURL[0]">
	    </div>
	  </div>

  	  <div class="form-group">
	    <label class="col-sm-2 control-label">Price</label>
	    <div class="col-sm-9">
	      <input type="text" class="form-control" ng-model="productItem.price">
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label">Stock</label>
	    <div class="col-sm-9">
	      <input type="text" class="form-control" ng-model="productItem.stock">
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label">Categories</label>
	    <div class="col-sm-9">
	      <input type="text" class="form-control" ng-model="productItem.categories">
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-9">
	      <button type="submit" class="btn btn-primary">Save</button>
	      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	    </div>
	  </div>

	</form>
</div>
