<div class="col-xs-3">   

    <!-- category: male or female -->
    <div>
        <div    class="btn btn-link btn-lg"
                type="button" 
                ng-repeat="gender in genders"
                ng-class="{active: gender.selected}"
                ui-sref="products.categories({productCategory: gender})">
                shop for {{gender}}  
        </div>
    </div>


    <!-- menu of brands -->
    <button class="btn btn-link btn-lg"
            type="button" 
            data-toggle="collapse" 
            data-target="#collapseExample" 
            aria-expanded="false" 
            aria-controls="collapseExample">
            Brands
    </button>
    <div class="collapse list-group" id="collapseExample">
        <div class="btn btn-link list-group-item"
                id="collapseExample"
                ng-repeat="brand in brands"
                ng-class="{active: product.selected}"
                ui-sref="products.categories({productCategory: brand})">
                {{brand}}  
        </div>
    </div>

</div>


<div ui-view class="col-xs-8"></div>
