<div class="col-xs-3">   
    <!-- menu of products -->
    <h1>Sunglasses</h1>
    <div class="row padded">
        <div class="list-group">
            <a class="list-group-item"
                ng-repeat="product in products"
                ng-class="{active: item.selected}"
                ui-sref="products.item({productID: product._id})">
                {{product.title}}
            </a>
        </div>
    </div>

    <!-- menu of brands -->
    <h1>Brands</h1>
    <div class="row padded">
        <div class="list-group">
            <a class="list-group-item"
                ng-repeat="product in products"
                ng-class="{active: item.selected}"
                ui-sref="products.category({productCategory: product.category[0]})">
                {{ product.category[0] }}
            </a>
        </div>
    </div>
</div>

<div ui-view class="col-xs-8"></div>
