<!-- this shows product's description -->
<div class="col-xs-9">
	<div>
		<h3>{{ productItem.title }}</h3>
		<p>{{ productItem.description }}</p>
		<p>{{ productItem.price | currency}}</p>
		<p ng-hide="outOfStock(productItem.stock)" style="color: red"><i>We're sorry, this item is currently not in stock.</i></p>
		<button ng-click="createOrder(productItem._id)" ng-show="outOfStock(productItem.stock)">Add to cart</button>
	</div>
	<br>
	<div>
		<img src="{{ productItem.imageURL[0] }}" class="img-thumbnail" style="width: 75%"> 
	</div>
</div>

<div class="col-xs-3">
	<h3>Reviews</h3>
	<div ng-repeat="review in productReviews">
		<h4 style="color: gold">{{ review.stars }} Stars</h4>
		<p> "{{ review.review }}"" <i style="color: gray"> -{{ review.user_id.first_name }} {{ review.user_id.last_name }}</i> </p>
	</div>
</div>
