* {
  box-sizing: border-box; }

fullstack-logo {
  display: block; }
  fullstack-logo img {
    display: block;
    width: 100%; }

navbar {
  display: block;
  background: #a1a1a1; }
  navbar fullstack-logo {
    padding-top: 10px;
    margin-right: 20px;
    width: 30px; }
  navbar a {
    color: white; }
    navbar a:hover {
      color: white; }
  navbar .nav > li > a {
    cursor: pointer; }
    navbar .nav > li > a.active {
      color: #f30046; }
    navbar .nav > li > a:hover {
      transition: color 0.2s; }
    navbar .nav > li > a:focus {
      color: #f30046;
      background: transparent; }
  navbar .search .search-bar {
    margin: 10px;
    text-align: center;
    line-height: 25px; }
  navbar .login-button {
    float: right;
    margin: 8px; }
    navbar .login-button:hover {
      color: white; }
  navbar .welcome {
    float: right; }
    navbar .welcome span {
      display: inline-block;
      color: white;
      text-align: center;
      line-height: 50px; }
    navbar .welcome a {
      color: #f30046;
      cursor: pointer; }

#home fullstack-logo {
  padding-top: 30px;
  width: 150px;
  margin: 0 auto; }
#home h1 {
  margin-top: 40px;
  text-align: center; }

#login-form {
  width: 60%;
  margin: 0 auto; }
