@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

navbar {

  display: block;
  background: #a1a1a1;

  fullstack-logo {
    padding-top: 10px;
    margin-right: 20px;
    width: 30px;
  }

  a {
    color: white;
    &:hover {
      color: white;
    }
  }

  .nav > li > a {
    cursor: pointer;
    &.active {
      color: #f30046;
    }
    &:hover {
      transition: color 0.2s;
    }
    &:focus {
      color: #f30046;
      background: transparent;
    }
  }

.search {
  input {
    outline: none;
  }

  input[type=search] {
    background: #ededed url(./search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 5px 10px 5px 32px;
    width: 175px;
    margin: 10px;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
}

  .login-button  {
    float: right;
    margin: 8px;

    &:hover {
      color: white;
    }
  }

  .welcome {
    float: right;
    span {
      display: inline-block;
      color: white;
      text-align: center;
      line-height: 50px;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

}