
<div class="container">
    <h2>Search our Sunglasses</h2>
    <br>
    <div class="row">
        <div class="col-md-4 search-panel">
            <h4>Refine by</h4>
            <form name='searchForm' ng-submit='initializeSearch()'>
                <h6>Title</h6>
                <br>

                <input type="search" class="form-control" ng-model="paramObj.title"placeholder="Search">

                <br>
                <h6>Brands</h6>
                <label ng-repeat="brand in brands">
                    <input  type="checkbox"
                            value="{{brand}}"
                            ng-checked="paramObj.brands.indexOf(brand) > -1"
                            ng-click="toggleSelection(brand)"
                     > {{brand}}
                <br/></label>
                <br>
                <h6>Gender</h6>
                    <label>
                        <input type="radio" ng-model="paramObj.gender" value="men">
                        Men
                    </label><br/>
                    <label>
                        <input type="radio" ng-model="paramObj.gender" value="women">
                        Women
                    </label><br/>
                    <label>
                        <input type="radio" ng-model="paramObj.gender" value="">
                        Both
                    </label>
                <br>
                <h6>Price</h6>

                    <p>Between</p>
                    <select data-ng-options="p.value as p.text for p in minPriceRanges" data-ng-model="paramObj.priceRange.min"></select>

                    <p>and</p>

                    <select data-ng-options="p.value as p.text for p in maxPriceRanges" data-ng-model="paramObj.priceRange.max"></select>

                <br>
                <h6>Avg. Customer Review</h6>
                    <label>
                        <input type="radio" ng-model="paramObj.avgStars" value="">
                        Any range
                    </label><br/>
                    <label>
                        <input type="radio" ng-model="paramObj.avgStars" value="1">
                        1 Star & Up
                    </label><br/>
                    <label>
                        <input type="radio" ng-model="paramObj.avgStars" value="2">
                        2 Stars & Up
                    </label><br/>
                    <label>
                        <input type="radio" ng-model="paramObj.avgStars" value="3">
                        3 Stars & Up 
                    </label><br/>
                    <label>
                        <input type="radio" ng-model="paramObj.avgStars" value="4">
                        4 Stars & Up 
                    </label><br/>
                <br>

                <a class="btn btn-primary btn-lg" ng-click="initializeSearch()" role="button">Search</a>
                <a class="btn btn-primary btn-lg" ng-click="resetParams()" role="button">Reset</a>
            </form>
            <br>
            <br>
        </div>
        <div class="col-md-8">
            <h4>Results</h4>
            <span><ng-pluralize count="searchResults.length"
            when="{'1': '1 result ',
            'other': '{{searchResults.length}} results '}">
            </ng-pluralize> in your search.</span>
            <br>
            <table class="table">
                <div ng-repeat="product in searchResults" style="height: 250px">
                    <div class="col-md-4 search-image">
                        <a ui-sref="products.item({productID: product.populatedDoc._id})">
                        <img src="{{ product.populatedDoc.imageURL[0] }}" class="img-thumbnail" style="margin-top: 20%"> 
                    </a>
                    </div>
                    <div class="col-md-8">
                        <h4><a ui-sref="products.item({productID: product.populatedDoc._id})">{{ product.populatedDoc.title }}</a></h4>
                        <p>{{ product.populatedDoc.description }}</p>
                        <p>{{ product.populatedDoc.price | currency }}</p>
                        <p> Average Stars: <rating ng-model="product.avgStars" max="5" readonly="true"></rating></p>
                    </div>                    
                </div>
            </table>
        </div>
        <br>
    </div>
