
<div class="container">
    <h2>Review Your Order</h2><br>
    <div class="row">
        <div class="col-md-8">
            <table class="table table-striped">

                <thead>
                    <th>Thumbnail</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </thead>
                <tbody>
                    <tr ng-repeat="product in orderData">
                        <td><img src={{product.imageURL[0]}} width="50px"></td>
                        <td>{{product.title}}</td>
                        <td>{{product.price | currency}}</td>
                        <td>2</td>
                        <td>{{product.price * 2 | currency}}</td>
                        <td><a ng-click="deleteProduct(product._id)" type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a></td>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <br><br>
            <table class="table">
                <tr>
                    <th>Cost:</th>
                    <td>$359.98</td>
                </tr>
                <tr>
                    <th>Sales Tax:</th>
                    <td>$28.50</td>
                </tr>
                <tr>
                    <th>Shipping & Handling:</th>
                    <td>$20.00</td>
                </tr>
                <tr>
                    <th>Total:</th>
                    <td><h3><b>$404.48</b></h3></td>
                </tr>
            </table>

            <a class="btn btn-primary btn-lg" id="customButton" role="button" style="float: right">Submit Order</a>

            <script>
                var handler = StripeCheckout.configure({
                    key: 'pk_test_XKYe1iVrNtGfmcL94oigHBR0',
                    image: 'hipshades.png',
                    token: function(token) {
                        // Use the token to create the charge with a server-side script.
                        // You can access the token ID with `token.id`
                    }
                });

                $('#customButton').on('click', function(e) {
                    // Open Checkout with further options
                    handler.open({
                        name: Hipshades,
                        description: '2 widgets',
                        amount: 2000
                    });
                    e.preventDefault();
                });

                // Close Checkout on page navigation
                $(window).on('popstate', function() {
                    handler.close();
                });
            </script>

        </div>
        <br>
    </div>
